@font-face {
  font-family: 'DDCHardware';
  src: url('./fonts/ddchardware-regular-webfont.woff2') format('woff2'),
       url('./fonts/ddchardware-regular-webfont.woff') format('woff'),
       url('./fonts/ddchardware-regular-webfont.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
html {
  scroll-behavior: smooth;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: #252525;
}
nav {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  border: 3px solid #252525;
  padding: 5px 10px;
  z-index: 10;
}
nav a {
  display: block;
}
h1, h2, h3 {
  font-family: 'DDCHardware', 'Bungee', sans-serif;
}
h1 {
  font-size: 56px;
  line-height: 56px;
}
h2, h3 {
  text-decoration: underline;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  color: #252525;
  transition: 0.3s;
}
a:hover,
a:focus {
  color: magenta !important;
}
a:visited,
a:active {
  color: #252525;
}
a.anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}
.top-bar {
  position: fixed;
  top: 0;
  height: 64px;
  border-bottom: 3px solid #252525;
  width: 100%;
  background: white;
}
.content-wrapper {
  max-width: 1440px;
  margin: 150px auto 100px auto;
  padding: 0 30px;
}
.content-wrapper .label {
  font-size: 13px;
  text-align: center;
  color: #5393fe;
  font-weight: bold;
}
.content-wrapper .title {
  max-width: 1200px;
  margin: 4rem auto 5rem auto;
}
.content-wrapper .divider {
  margin: 0 5px;
}
.content-grid {
  display: grid;
  grid-template-columns: 1fr 14em;
  column-gap: 12em;
}
.content-grid .content {
  max-width: 900px;
  margin: 0 auto;
}
.content-grid .content h2:first-of-type {
  margin-top: 0;
}
.content-grid .headings .toc {
  position: sticky;
  top: 150px;
  border: 3px solid #252525;
}
.content-grid .headings .toc a {
  display: block;
  padding: 12px 18px;
  border-bottom: 3px solid #252525;
  text-decoration: none;
}
.content-grid .headings .toc a.active,
.content-grid .headings .toc a:hover,
.content-grid .headings .toc a:focus {
  color: #252525 !important;
  background: rgba(83, 147, 254, 0.5);
}
.content-grid .headings .toc a:first-of-type {
  margin-top: 0;
}
.content-grid .headings .toc a:last-of-type {
  border-bottom: none;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.popup {
  font-size: 32px;
  position: absolute;
  opacity: 0.7;
  user-select: none;
  -webkit-text-stroke: 1px #252525;
  transition: 0.15s;
}
.popup:hover,
.popup:focus {
  opacity: 1;
  cursor: pointer;
}
.small-screen .popup {
  font-size: 24px;
}
.large-screen .popup.yellow {
  top: 75%;
  left: calc(83% - 66px);
}
.large-screen .popup.cyan {
  top: 75%;
  left: calc(20% - 48px);
}
.large-screen .popup.magenta {
  top: 10%;
  left: calc(50% - 81px);
}
.large-screen .popup.purple {
  top: 28%;
  left: calc(20% - 66px);
}
.large-screen .popup.orange {
  top: 28%;
  left: 80%;
}
.large-screen .popup.green {
  top: 85%;
  left: calc(50% - 58px);
}
.small-screen .popup.yellow {
  top: 75%;
  left: calc(80% - 66px);
}
.small-screen .popup.cyan {
  top: 75%;
  left: calc(20% - 48px);
}
.small-screen .popup.magenta {
  top: 10%;
  left: calc(50% - 61px);
}
.small-screen .popup.purple {
  top: 28%;
  left: 5%;
}
.small-screen .popup.orange {
  top: 28%;
  left: calc(75% - 53px);
}
.small-screen .popup.green {
  top: 85%;
  left: calc(50% - 58px);
}
.name {
  font-family: 'DDCHardware', 'Bungee', sans-serif;
  font-size: 52px;
  user-select: none;
  opacity: 0;
  animation: 1s ease-in forwards subtitle;
}
.name h1 {
  margin-bottom: 0;
  text-shadow: 2px 2px 10px white, -2px -2px 10px white, 2px 2px 10px white, -2px -2px 10px white, 2px 2px 10px white, -2px -2px 10px white;
}
.subtitle-text {
  font-family: 'DDCHardware', 'Bungee', sans-serif;
  user-select: none;
  opacity: 0;
  text-align: center;
  line-height: 1.25;
  animation: 1s ease-in 1s forwards subtitle;
}
.subtitle-text p {
  margin: 5px 0;
  text-shadow: 2px 2px 10px white, -2px -2px 10px white, 2px 2px 10px white, -2px -2px 10px white, 2px 2px 10px white, -2px -2px 10px white;
}
.cyan {
  color: cyan;
}
.yellow {
  color: yellow;
}
.magenta {
  color: magenta;
}
.purple {
  color: rgb(128, 0, 128);
}
.orange {
  color: orange;
}
.green {
  color: green;
}
canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width:100%;
  height:100vh;
  opacity: 0.8;
  margin-left: 0;
  transition: 0.3s;
}

.btn {
  background: white;
  border: 3px solid #252525;
  padding: 5px 10px;
  font-size: 24px;
}
select.btn {
  padding: 4px 10px;
  min-height: 44px;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

::selection {
  background-color: rgba(83, 147, 254, 0.5);
  color: black;
}

@keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .large-screen .popup.orange {
    top: 28%;
    left: 70%;
  }
}
@media screen and (max-width: 576px) {
  .content-wrapper {
    padding: 0 15px;
  }
  .large-screen {
    display: none;
  }
  .subtitle-text {
    font-size: 14px;
  }
  .name, .subtitle-text {
    padding: 0 15px;
  }
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .name h1 {
    text-align: center;
  }
}
@media screen and (min-width: 576px) {
  .small-screen {
    display: none;
  }
}