<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132851708-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132851708-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/content.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
  <script src="/js/script.js"></script>
  <title>🐣🐥🐔 | Steven Remenapp</title>
</head>
<body>
  <header class="top-bar">
    <div class="menu-container">
      <button class="hamburger hamburger--3dxy" id="menu" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </header>
  <main class="content-wrapper">
    <h1 style="margin-top: 0;">CATS! (404)</h1>
    <div style="max-width: 900px; margin: 0 auto; text-align: center;">
      <p style="margin-bottom: 50px;">You're either here on purpose to see my cats or 404 page, or you got a hold of a dead link. These are my cats!</p>
    </div>
    <div class="cat-container">
      <img class="posse" src="/img/posse.jpg" alt="">
      <img class="background" src="/img/posse-background.png" alt="">
    </div>
  </main>
  <div class="open-menu" id="open-menu" aria-hidden="true" tabindex="-1">
    <button class="hamburger hamburger--close" id="close-menu-btn" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <nav class="menu">
      <div class="menu__item">
        <a href="/" class="menu__item-link"><span>HOME</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
            <span>HOME /</span>
          </div>
        </div>
      </div>
      <div class="menu__item">
        <a href="/work" class="menu__item-link"><span>WORK</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
            <span>WORK /</span>
          </div>
        </div>
      </div>
      <div class="menu__item">
        <a href="/library" class="menu__item-link"><span>LIBRARY</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
            <span>LIBRARY /</span>
          </div>
        </div>
      </div>
      <div class="menu__item">
        <a href="/fun" class="menu__item-link"><span>FUN</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
            <span>FUN /</span>
          </div>
        </div>
      </div>
      <div class="menu__item">
        <a href="mailto:remenapp@gmail.com" class="menu__item-link"><span>CONTACT</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
            <span>CONTACT /</span>
          </div>
        </div>
      </div>
      <div class="menu__item">
        <a href="/documents/remenapp-portfolio-resume.pdf" target="_blank" rel="noopener noreferrer" class="menu__item-link"><span>RESUME</span></a>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
            <span>RESUME /</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>