h1 {
  text-align: center;
}
h2 {
  text-decoration: none;
}

canvas {
  opacity: 0.15;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}
.project-grid_image.left {
  grid-column: 1/8;
  grid-row: 1/-1;
  position: relative;
  border: 3px solid #252525;
}
.project-grid_image.right {
  grid-column: 6/-1;
  grid-row: 1/-1;
  position: relative;
  border: 3px solid #252525;
}
.project-grid_image .project-grid_image_container {
  display: flex;
}
.project-grid_image a:after {
  animation: colors 10s infinite;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.project-grid_image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s;
}
.project-grid_image a:hover img,
.project-grid_image a:focus img {
  opacity: 0.5;
}
.project-grid_image a:hover:after,
.project-grid_image a:focus:after {
  opacity: 0.5;
}
.project-grid_image a:hover .project-grid_image_overlay,
.project-grid_image a:focus .project-grid_image_overlay {
  opacity: 1;
}
.project-grid_image img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
}
.project-grid_data.right {
  grid-column: 8/-1;
  grid-row: 1/-1;
  text-align: right;
}
.project-grid_data.left {
  grid-column: 1/6;
  grid-row: 1/-1;
  text-align: left;
}
.project-grid_data_tools_label {
  font-size: 13px;
  font-weight: bold;
}
.project-grid_data_tool_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.project-grid_data_tool_list.right {
  justify-content: flex-end;
}
.project-grid_data_tool_list.left {
  justify-content: flex-start;
}
.project-grid_data_tool_list li {
  margin-bottom: 5px;
  font-size: 13px;
  opacity: 0.75;
}
.project-grid_data_tool_list.left li {
  margin-right: 20px;
}
.project-grid_data_tool_list.right li {
  margin-left: 20px;
}
.project-grid_data a {
  text-decoration: none;
}
.project-grid_data_links a {
  padding: 10px;
}
.project-grid_data_links.right a:last-of-type {
  padding-right: 0;
}
.project-grid_data_links.left a:first-of-type {
  padding-left: 0;
}
.project-grid_data_links svg {
  width: 25px;
  height: auto;
}
.project-grid_text {
  grid-column: 1/-1;
}

figure {
  margin: 25px 0;
}
figcaption {
  font-size: 14px;
  margin-left: 5px;
}
.caption-icon {
  font-weight: bold;
  margin-right: 10px;
}
figure img {
  height: auto;
  width: 100%;
  border: 3px solid #252525;
}
.cat-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.posse,
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 100px;
  border: 3px solid #252525;
}
.posse {
  animation: catglow 0.75s infinite;
}
.background {
  z-index: 2;
}
@keyframes catglow {
  0%, 100% { filter: invert(5%) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(15%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(20%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-rows: auto 1fr;
  }
  .project-grid_image {
    margin: 1.5rem 0 1rem 0;
  }
  .project-grid_image.right,
  .project-grid_image.left {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
  .project-grid_data.right,
  .project-grid_data.left {
    grid-column: 1/-1;
    grid-row: auto;
  }
}

@media screen and (max-width: 576px) {
  .murder {
    word-break: break-all;
  }
}